<ion-view view-title="Perguntas">
  <ion-content>
  <div id="perguntas">
    <div id="um">
      <div class="list card">
        <div class="list card">
          <h1>Nível 2</h1>
         <p>Questão: 1/10</p>
         <p>Em que ano São Martinho da Serra foi emancipado?</p>
        </div>
        <div class="collection">
          <a class="collection-item" onclick="fecharPergunta(1)">1990</a>
          <a class="collection-item" onclick="fecharPergunta(1)">1991</a>
          <a class="collection-item" onclick="respostaCorreta(1)">1992</a>
          <a class="collection-item" onclick="fecharPergunta(1)">1993</a>
        </div>      
      </div>
    </div>
    <div id="dois">
      <div class="list card">
        <div class="list card">
         <p>Questão: 2/10</p>
         <p>Qual é a data de emancipação de São Martinho da Serra?</p>
        </div>
        <div class="collection">
            <a class="collection-item" onclick="fecharPergunta(2)">19/03/1990</a>
            <a class="collection-item" onclick="fecharPergunta(2)">20/07/1991</a>
            <a class="collection-item" onclick="respostaCorreta(2)">20/03/1992</a>
            <a class="collection-item" onclick="fecharPergunta(2)">19/03/1993</a>
        </div>        
      </div>
    </div>
        <div id="tres">
      <div class="list card">
        <div class="list card">
         <p>Questão: 3/10</p>
         <p>São Martinho está localizado em qual região do estado?</p>
        </div>
        <div class="collection">
              <a class="collection-item" onclick="fecharPergunta(3)">Norte</a>
              <a class="collection-item" onclick="respostaCorreta(3)">Centro</a>
              <a class="collection-item" onclick="fecharPergunta(3)">Sul</a>
              <a class="collection-item" onclick="fecharPergunta(3)">Sudeste</a>
        </div>        
      </div>
    </div>
    <div id="quatro">
      <div class="list card">
        <div class="list card">
         <p>Questão: 4/10</p>
         <p>Onde está localizado o INPE?</p>
        </div>
        <div class="collection">
                <a class="collection-item" onclick="fecharPergunta(4)">São Miguel</a>
                <a class="collection-item" onclick="fecharPergunta(4)">Durasnal</a>
                <a class="collection-item" onclick="respostaCorreta(4)">Rincão dos Negrinhos</a>
                <a class="collection-item" onclick="fecharPergunta(4)">Rincão dos Trindades</a>
        </div>  
      </div>
    </div>
        <div id="cinco">
      <div class="list card">
        <div class="list card">
         <p>Questão: 5/10</p>
         <p>Quem nasce em São Martinho da Serra é?</p>
        </div>
        <div class="collection">
                  <a class="collection-item" onclick="respostaCorreta(5)">Martinhense</a>
                  <a class="collection-item" onclick="fecharPergunta(5)">São Martinhense</a>
                  <a class="collection-item" onclick="fecharPergunta(5)">Martinho</a>
                  <a class="collection-item" onclick="fecharPergunta(5)">Serrano</a>
        </div>
      </div>
    </div>
    <div id="seis">
      <div class="list card">
        <div class="list card">
         <p>Questão: 6/10</p>
         <p>Quais desses munícipios não faz divisa com São Martinho da Serra?</p>
        </div>
        <div class="collection">
          <a class="collection-item" onclick="fecharPergunta(6)">Júlio de Castilhos</a>
          <a class="collection-item" onclick="fecharPergunta(6)">São Pedro do Sul</a>
          <a class="collection-item" onclick="fecharPergunta(6)">Santa Maria</a>
          <a class="collection-item" onclick="respostaCorreta(6)">Silveira Martins</a>
        </div>
      </div>
    </div>
        <div id="sete">
      <div class="list card">
        <div class="list card">
         <p>Questão: 7/10</p>
         <p>A principal cascata martinhense fica em qual rio?</p>
        </div>
        <div class="collection">
          <a class="collection-item" onclick="respostaCorreta(7)">Guassupí</a>
          <a class="collection-item" onclick="fecharPergunta(7)">Toropí</a>
          <a class="collection-item" onclick="fecharPergunta(7)">Ibicuí</a>
          <a class="collection-item" onclick="fecharPergunta(7)">Guaíba</a>
        </div>       
      </div>
    </div>
    <div id="oito">
      <div class="list card">
        <div class="list card">
         <p>Questão: 8/10</p>
         <p>Qual rio não passa por São Martinho da Serra?</p>
        </div>
        <div class="collection">
          <a class="collection-item" onclick="respostaCorreta(8)">Uruguai</a>
          <a class="collection-item" onclick="fecharPergunta(8)">Toropí</a>
          <a class="collection-item" onclick="fecharPergunta(8)">Ibicuí</a>
          <a class="collection-item" onclick="fecharPergunta(8)">Guassupí</a>
        </div> 
      </div>
    </div>
        <div id="nove">
      <div class="list card">
        <div class="list card">
         <p>Questão: 9/10</p>
         <p>Quantas escolas minucipais existem em São Martinho da Serra?</p>
        </div>
        <div class="collection">
          <a class="collection-item" onclick="fecharPergunta(9)">1</a>
          <a class="collection-item" onclick="fecharPergunta(9)">2</a>
          <a class="collection-item" onclick="respostaCorreta(9)">3</a>
          <a class="collection-item" onclick="fecharPergunta(9)">4</a>
        </div> 
      </div>
    </div>
    <div id="dez">
      <div class="list card">
        <div class="list card">
         <p>Questão: 10/10</p>
         <p>Qual destes não está no interior de São Martinho da Serra?</p>
        </div>
        <div class="collection">
          <a class="collection-item" onclick="fecharPergunta(10)">Rincão dos Pires</a>
          <a class="collection-item" onclick="fecharPergunta(10)">Taquarimbó</a>
          <a class="collection-item" onclick="fecharPergunta(10)">Quilombo</a>
          <a class="collection-item" onclick="respostaCorreta(10)">Igrejinha</a>
        </div>     
      </div>
    </div>
    <a id="finalizar" href="#/tab/chats" class="button button-block button-balanced modal-trigger"  onclick="finalizar()" >
          Finalizar
    </a>
    </div>
    <div id="resultado" class="modal modal-fixed-footer">
      <div class="modal-content" id="resultado2">
        <h5>Sua Pontuação</h5>
        <input type="number" id="pontos" class="validate" placeholder="Pontuação" readonly="readonly" value="pontos">
       <!-- <a href="#/tab/dash" class="button button-block button-balanced blue" onclick="proximoNivel()">
          Próximo Nível
        </a>-->
        <a href="#/tab/dash" class="button button-block button-balanced" onclick="zerar()">
          Início
        </a>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
